.menu-container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4%;
  border: 5px solid #dcabae;
  background-color: #ffdfdc;

  h1 {
    font-size: 55px;
    color: #ae5f5f;
  }
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;

  h2 {
    color: #4a586e;
  }
}
