.counter-container {
  height: 34px;
  width: 130px;
  background-color: #fef0ef;
  border: 2px solid #ae5f5f;
  margin-top: 10px;
}

.counter-value {
  font-size: 20px;
  color: #ae5f5f;
  line-height: 34px;
}
