.cards-directory-container {
  width: 270px;
  height: 270px;
  background-color: #fef0ef;
  border: 5px solid #fef0ef;
  border-radius: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}
