.cards-directory-container {
  background-color: #fef0ef;
  border: 5px solid #fef0ef;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
  margin: 5px;
  padding: 5px 0;
}
