.victory-message-container {
  width: 400px;
  height: 200px;
  background-color: #fef0ef;
  border: 3px solid #ae5f5f;
  border-radius: 15px;
  margin-top: 100px;

  h1,
  p {
    text-align: center;
    color: #ae5f5f;
  }

  h1 {
    line-height: 80px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}
